* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.bar {
  justify-content: center;
  align-items: center;
  margin: 5px 5px 0 5px;
  padding: 5px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  background-color: #fff;
}

.column {
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.container {
  margin: 10px auto;
  width: 98%;
  height: fit-content;
  padding: 10px;
  border: 1px solid rgb(161, 161, 161);
  background-color: #fff;
  border-radius: 5px;
}

.header-container {
  margin: 0 auto;
  width: 98%;
  height: fit-content;
  text-align: center;
}

.table-container {
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
}

.form-container {
  margin: 0 auto;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  display: none;
}

.btn-container {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
}

.data-box {
  width: 12%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-color: aqua;
}

.income-box {
  background-color: #6BCB77;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 5px;
}

.expense-box {
  background-color: #DF2E2E;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 5px;
}

.balance-box {
  background-color: #DFDFDE;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 5px;
}

.profile-container {
  width: 20%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.date-container {
  display: inline;
  width: 35%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.add_form {
  display: inline-flex;
}

.form-cell {
  width: 160px;
  height: 60px;
  padding: 5px;
}

.logo {
  margin: 0;
}

.welcome-p {
  margin: 2px 0;
}

.add-btn {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 15px;
}

.form-btn {
  padding: 5px;
  font-size: 15px;
}

#income_col {
    color: forestgreen;
  }
  
#expense_col {
  color: red;
}

table {
  border-collapse: collapse;
  text-align: center;
}

thead {
  background: #395870;
  color: #fff;
}

tbody tr:nth-child(even){
  background: #f0f0f2;
}

th {
  padding: 10px 25px;
}

td {
  border: 1px solid #cecfd5;;
  padding: 10px 25px;
}

.input_field {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

input[type="date"] {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid rgb(189, 189, 189);
  outline: none;
  border-radius: 5px;
}

select {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
}

h3 {
  margin: 0 0 5px 0;
}

h5 {
  margin: 5px 0;
}

canvas {
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0;
  font-size: 15px;
}

