* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.bar {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 0;
  border: 1px solid rgb(161, 161, 161);
}

.column {
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.container {
  margin: 10px auto;
  width: 98%;
  height: fit-content;
  padding: 10px;
  border: 1px solid rgb(189, 189, 189);;
}

.table-container {
  margin: 20px auto;
  width: fit-content;
  height: fit-content;
}

.form-container {
  margin: 10px auto;
  padding: 10px;
  width: 98%;
  height: fit-content;
  border: 1px solid rgb(189, 189, 189);
}

.data-box {
  width: 12%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-color: aqua;
}

.income-box {
  background-color: #2db803;
  border: 1px solid rgb(46, 46, 46);
}

.expense-box {
  background-color: red;
  border: 1px solid rgb(46, 46, 46);
}

.balance-box {
  background-color: rgb(151, 144, 144);
  border: 1px solid rgb(46, 46, 46);
}

.profile-container {
  display: inline-flex;
  width: 20%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
}

.date-container {
  display: inline;
  width: 35%;
  height: fit-content;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.add_form {
  display: inline-flex;
}

.form-cell {
  width: 160px;
  height: 75px;
  padding: 5px;
}

#income_col {
    color: forestgreen;
  }
  
#expense_col {
  color: red;
}

table {
  border-collapse: collapse;
  text-align: center;
}

thead {
  background: #395870;
  color: #fff;
}

tbody tr:nth-child(even){
  background: #f0f0f2;
}

th {
  padding: 10px 25px;
}

td {
  border: 1px solid #cecfd5;;
  padding: 10px 25px;
}

.input_field {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

input[type="date"] {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid rgb(189, 189, 189);
  outline: none;
  border-radius: 5px;
}

select {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
}

h3 {
  margin: 0 0 5px 0;
}

h5 {
  margin: 5px 0;
}

canvas {
  margin: 0 auto;
}

