#income_col {
    color: forestgreen;
  }
  
  #expense_col {
    color: red;
  }
  
  #container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  table {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
  }
  
  tbody tr:nth-child(even){
    background: #f0f0f2;
  }
  
  th {
    border: 1px solid #000;
    padding: 5px 10px;
  }
  
  td {
    border: 1px solid #000;
    padding: 5px 10px;
  }