<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Login</title>
</head>
<body>
    <div class="row">
        <div class="column left">
            <img class="cover-img" src="../static/images/login_page_cover_picture.jpg" alt="Image Not Found">
        </div>
            
        <div class="column right">
            <div class="container">
                <img class="logo" src="../static/images/logo.png" alt="Not Found">
                <form action="/" method="POST">
                    <input type="email" class="input-field" name="email" id="email_input" placeholder="Email">
                    <br>
                    <input type="password" class="input-field" name="password" id="password_input" placeholder="Password">
                    <br>
                    <input type="submit" class="submit-btn" value="Log In">
                </form>
                <p>Don't have an account? <a href="{{ url_for('sign_up') }}">Sign Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>