{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='login_signup.css')}}">
<title>Login</title>
{% endblock %}

{% extends "base_login_signup.html" %}
{% block content %}

<img class="logo" src="../static/images/logo.png" alt="Not Found">
<form action="/sign_up" method="POST">
    <input type="email" class="input-field" name="email" id="email_input" required placeholder="Email">
    <br>
    <input type="password" class="input-field" name="password" id="password_input" required placeholder="Password">
    <br>
    <input type="text" class="input-field" name="username" id="username_input" required placeholder="Username">
    <br>
    <input type="number" class="input-field" name="balance" id="balance_input" required placeholder="Current Balance">
    <br>
    <input type="submit" class="submit-btn" value="Create Account">
</form>

{% endblock %}

