{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='transactions.css')}}">
<script src="{{url_for('static', filename='app.js')}}"></script>
<title>Transactions</title>
{% endblock %}

{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="column left">
        <div class="container">
            <div>
                <h6>Welcome Back, {{ user_name }}</h6>
                <p>Balance: {{ curr_balance }}</p>
            </div>
            <div>
                <h6>Filter Dates:</h6>
                <form action="/transactions" method="POST">
                    <input type="date" name="from_date_input" id="from_date_input">
                    <input type="date" name="to_date_input" id="to_date_input">
                    <input type="submit" value="Filter">
                </form>
            </div>
        </div>
    </div>

    <div class="column right">
        <div class="form-container">
            <h3>Add Transaction</h3>
            
            <form action="/add_to_db" method="POST">
                <div class="add_form">
                    <div class="form-cell">
                        <label for="date_input">Date:</label>
                        <br>
                        <input type="date" name="date_input" required>
                    </div>

                    <div class="form-cell">
                        <label for="amount">Amount:</label>
                        <br>
                        <input type="number" name="sum_input" id="amount" class="input_field"
                            placeholder="Enter amount">
                    </div>

                    <div class="form-cell">
                        <label for="type_select">Type:</label>
                        <br>
                        <select name="type_select" id="type_select" onchange="fill_category_options(value)">
                            <option value="INCOME">INCOME</option>
                            <option value="EXPENSE">EXPENSE</option>
                        </select>
                    </div>

                    <div class="form-cell">
                        <label for="select_category">Category:</label>
                        <br>
                        <select id="select_category" name="category"></select>
                    </div>
                </div>

                <br>
                <input type="submit" value="Add">
            </form>
        </div>

        <div class="table-container">
            <p>{{ from_date }} to {{ to_date }}</p>
            <table>
                <thead>
                    <tr>
                        <th scope="col">DATE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">INCOME</th>
                        <th scope="col">EXPENSE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td id="income_col">{{ item[3] }}</td>
                        <td id="expense_col">{{ item[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}